body {
  background: pink;
}

h1 {
  color: blue;
  font-size: 3em; /* Changed 'fontsize' to 'font-size' */
}

h2 {
  color: green;
  font-weight: normal;
  font-style: italic;
}

.completed {
  font-size: 12px; /* Changed 'font-family' to 'font-size' */
}

#tasks .completed {
  background: #ccc;
  text-decoration: underline;
}
